    .article-article{
        background-color: white;
        text-align: center;
      }

    .article-projects {
        background-color: #ffc3c3;
        text-align: center;
      }
  
      .article-personal {
        background-color: #bbffa0;
        text-align: center;
      }
  
      .article-other {
        background-color: #ffe57d;
        text-align: center;
      }

      .article-curriculum{
        background-color: aquamarine;
        text-align: center;
      }

      
      .article-author {
        font-size: 14px;
        color: #777;
        margin-left: auto; 
      }

      .article-date {
        font-size: 14px;
        color: #777;
        margin-right: 10px;
      }

key {
    position: fixed;
    top: 140x;
    right: 70px;
    padding: 10px 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;

    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: box-shadow;
    font-family: blu;

    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 25px rgb(59, 59, 59);
    transition: box-shadow 0.3s ease;
    margin-left: -20px; 
    margin-right: -20px;

}

