    .article-article{
        background-color: white;
      }

    .article-projects {
        background-color: #ffc3c3;
        text-align: center;
      }
  
      .article-personal {
        background-color: #bbffa0;
        text-align: center;
      }
  
      .article-other {
        background-color: #ffe57d;
        text-align: center;
      }

      .article-curriculum{
        background-color: aquamarine;
        text-align: center;
      }

      
      .article-param {
        font-size: 14px;
        color: #585858;
        margin-left: auto; 
      }


